{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Editer un commentaire</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('topic_show', {'id': comment.getTopic().getId()}) }}">Retour</a>
{% endblock %}
