{% extends 'base.html.twig' %}

{% block title %}Edit Topic{% endblock %}

{% block body %}
    <h1 style="margin-top:5%;margin-bottom:3%;">Editer le sujet</h1>
    {{ include('topic/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <div style="text-align: center;margin-top:-7%;margin-bottom:2%">
    <a href="{{ path('forum') }}">Retour</a>
    </div>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}
