{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <h1 style="margin-top:5%;margin-bottom:3%;">Créer un Article</h1>
    <div style="display: flex;flex-flow: column wrap;align-items: center;">
    {{ include('topic/_form.html.twig') }}
    </div>
    <a href="{{ path('forum') }}" class="nav-link" style="display:flex;align-items:center;justify-content:center;color:coral;">back to list</a>
{% endblock %}
