{{ form_start(formReport) }}
    {{ form_row(formReport.isReported) }}
    <button class="btn" style="color:#18bc9c;padding:0;">{{ button_label|default('Signaler') }}</button>
{{ form_end(formReport) }}
